<app-toolbar></app-toolbar>

<mat-grid-list cols="3" rowHeight="100px">
  <a routerLink="/locations">
    <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{ locations }}</mat-card-title>
        <mat-card-subtitle> Locations </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  </a>
  
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{ things }}</mat-card-title>
        <mat-card-subtitle> Things </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title> {{ sensors }}</mat-card-title>
        <mat-card-subtitle> Sensors </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
