<style>
  table {
    margin-top: 50px;
    margin-left: 50px;
    width: 70%;
  }
</style>

<!-- some other component is calling this. Do not render some parts, like toolbar, in this case -->
<app-toolbar *ngIf="!listURL"></app-toolbar>
<mat-tab-group>
  <mat-tab label="Datastreams">
    <table mat-table *ngIf="datastreams.datastreams && datastreams.datastreams.length > 0" [dataSource]="datastreams.datastreams" class="mat-elevation-z8">
    
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let datastream"> {{datastream.name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let datastream">
          <a [routerLink]="'/datastream/' + datastream['@iot.id']">
            View
          </a>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let datastream"> {{datastream.description}} </td>
      </ng-container>
    
      <ng-container matColumnDef="observationType">
        <th mat-header-cell *matHeaderCellDef> Observation Type </th>
        <td mat-cell *matCellDef="let datastream"> {{datastream.observationType}} </td>
      </ng-container>
    
      <ng-container matColumnDef="unitOfMeasurement">
        <th mat-header-cell *matHeaderCellDef> Unit of Measurement </th>
        <td mat-cell *matCellDef="let datastream"> {{datastream.unitOfMeasurement|json}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let datastream">
          <button mat-button color="warn" (click)="remove(datastream['@iot.id'])">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <div *ngIf="!datastreams.datastreams || datastreams.datastreams.length === 0"> No datastreams found! </div>
  </mat-tab>
  <mat-tab label="Create">
    <create-datastream></create-datastream>
  </mat-tab>
</mat-tab-group>
